body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  background-color: white;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", Arial, sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
}


.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


.intro-images-block {
  width: 100%;
  height: 510px;
  background-image: url("../img/background photo_1200.jpg"), url("../img/Ppligon.png");
  background-repeat: no-repeat;
  background-size: 768px auto, cover;
}

.map {
  width: 100%;
  height: 475px;
  background-image: url("../img/map.jpg.");
}

.page-footer {
  background-color: #fefefd;
  opacity: 90;
}
